
.gridcard {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.card {
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.card-img-top {
    height: auto;
    width: auto;
    object-fit: cover;
    
    border-radius: 10px;
}

.insa {
    font-weight: bold;
    font-size: 200px;
    margin: 10%;
}

.porthead, .tphead {
    margin: 2% 2%;
    font-weight: bold;
    font-size: 70px;
}

.tpcard {
    margin-left: 50px;
}


/*  */

.grid_gap {
    gap: 100px;
}
